body {
    font-family: 'Poppins', sans-serif;
}
.main-color {
    background-color: #222929 ; 
}
.banner {
    height: 70vh;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4)), url(../image/banner.jpg);
    background-size: cover;
    background-position: center;
}
.hovered-card {
    transition: .3s;
}
.hovered-card:hover {
    transform: scale(1.1);
}
